$primary: #00ADE6;
$secondary: #05E3D5;
$black: #041725;
$black-20: #213746;
$black-40: #5A666D;
$white: #EDEDED;
$white-40: #8D9BA3;

.tooltip {
  position: absolute;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}
.options-panel {
  position: absolute;
  width: 284px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  margin: 24px;
  padding: 12px 24px;
  z-index: 5;
  outline: none;

  hr {
    margin: 12px -24px;
  }
  h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 8px 0;
  }

  a {
    display: inline;
  }

  p {
    margin-bottom: 16px;
  }
  .legend {
    display: inline-block;
    width: 12px;
    height: 12px;
  }
}
.layout {
  display: table;
  width: 100%;

  >* {
    display: table-cell !important;
  }
  .col-1-3 {
    width: 33.33%;
  }
  .col-1-2 {
    width: 50%;
  }
}
.top-left {
  position: absolute;
  left: 0;
  top: 0;
}
.top-right {
  position: absolute;
  right: 0;
  top: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.demo {
  position: relative;
  overflow: hidden !important;
  height: 100vh;
  transition: height 600ms ease-in;
}

@media (max-width: 576px) {
  .options-panel {
    width: 100%;
    margin: 0;
  }
  .options-panel:not(.focus) {
    cursor: pointer;
    >div > *, hr, .input {
      display: none;
    }
    >div:before {
      position: absolute;
      top: 12px;
      right: 12px;
      color: $white-40;
      font-size: 24px;
      content: "\e906";
    }
    h3 {
      display: block;
    }
  }
  .tooltip.interactive {
    border: solid 4px transparent;
    margin: -4px;
    background: $white;
    color: $black;
    pointer-events: all;
    width: 240px;
    overflow-y: auto;

    p {
      display: block;
    }
  }
}